@use "../../../responsive.scss";

.Singlepage {
  display: flex;
  height: 90vh;
  overflow-y: scroll;
  margin-bottom: 50px;

  @include responsive.md {
    flex-direction: column;
    height: 80vh;
    overflow: scroll;
  }

  @include responsive.sm {
    flex-direction: column;
    overflow: none;
    height: max-content;
  }

  .details {
    flex: 3;
    height: 100vh;
    overflow-y: scroll;

    @include responsive.md {
      flex: none;
      height: max-content;
    }

    .wrapper {
      padding-right: 50px;

      .info {
        margin-top: 20px;
        .top {
          display: flex;
          justify-content: space-between;
          .post {
            display: flex;
            flex-direction: column;
            gap: 10px;

            h1 {
              font-weight: 300;
              font-size: medium;
            }
            .address {
              display: flex;
              gap: 5px;
              align-items: center;
              color: #8888;
              font-size: 14px;

              img {
                width: 16px;
                height: 16px;
              }
            }

            .price {
              padding: 5px;
              background-color: rgba(237, 176, 22, 0.438);
              border-radius: 5px;
              width: max-content;
              font-size: 20px;
              font-weight: 200;
            }
          }

          .user {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            padding: 0px 20px;
            border-radius: 10px;
            background-color: rgba(245, 222, 163, 0.438);
            font-weight: 600;

            img {
              width: 50px;
              height: 50px;
              border-radius: 50%;
              object-fit: cover;
            }
          }
        }
        .bottom {
          margin-top: 40px;
          color: #373737;
          line-height: 20px;
          font-weight: 300;
          font-size: medium;
        }
      }
    }
  }

  .features {
    flex: 2;
    background-color: #fcf5f3;
    height: 100vh;
    overflow-y: scroll;

    @include responsive.md {
      flex: none;
      height: max-content;
    }


    .wrapper {
      padding: 0px 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      height: 100%;
      overflow-y: scroll;

      img {
        height: 18px;
        width: 18px;
      }

      .title {
        font-weight: bold;
        font-size: 15px;
      }

      .feature {
        display: flex;
        align-items: center;
        gap: 10px;

        img {
          background-color: rgba(254, 205, 81, 0.138);
        }

        .featurText {
          span {
            font-weight: bold;
          }
          p {
            font-size: 12px;
          }
        }
      }

      .listVertical {
        display: flex;
        flex-direction: column;
        gap: 15px;
        border: 10px;
        padding: 10px 10px;
        background-color: white;
        border-radius: 10px;
      }
      .listHorizontal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px 10px;
        background-color: white;
        border-radius: 10px;

        .featurText {
          span {
            font-weight: 300;
          }
          p {
            font-size: 10px;
          }
        }
      }
      .Size {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: white;
        padding: 20px 10px;
        border-radius: 10px;

        .sizes {
          display: flex;
          align-items: center;
          gap: 3px;
          span {
            font-size: 12px;
          }
          img {
            background-color: rgba(254, 205, 81, 0.138);
          }
        }
      }

      .buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 10px;
        background-color: white;

        button {
          padding: 10px;
          border-radius: 10px;
          display: flex;
          flex-direction: row;
          gap: 5px;
          background-color: white;
          cursor: pointer;

          &:hover {
            scale: 1.05;
            transition: all 0.5s;
          }
        }
      }

      // .checkout {
      //   display: flex;
      //   flex-direction: column;

      //   button {
      //     padding: 10px 10px;
      //     border-radius: 10px;
      //     border: none;
      //     color: white;
      //     background-color: #4ce0a2;

      //     &:hover {
      //       scale: 1.05;
      //       transition: all 0.5s;
      //       background-color: #eaff00;
      //     }

      //     &:active {
      //       background-color: #fbff00;
      //     }
      //   }
      // }
    }
  }
}
