@use "./../../../responsive.scss";

.homepage {
  display: flex;
  height: 100%;

  .textcontainer {
    flex: 3;

    .wrapper {
      padding-right: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 30px;
      height: 100%;

      @include responsive.md {
        padding-right: 50px;
        gap: 15px;
       
      }


      .title {
        font-size: 48px;

        @include responsive.md {
          font-size: 26px;
        }

        .description {

          @include responsive.md {
            font-size: 12px;
          }

        }
      }

      .boxes {
        display: flex;
        justify-content: space-between;

        h1 {
          font-size: 27px;
        }

        h2 {
          font-size: 18px;
          font-weight: 300;
        }
      }
    }
  }

  .imagecontainer {
    flex: 2;
    background-color: #fcf5f3;
    position: relative;
    display: flex;
    align-items: center;

    img {
      width: 110%;
      position: absolute;
      right: 0;

      @include responsive.md{
        width: 90%;

      }

    }
  }
}
