//

@use "./responsive.scss";

.layout {
    height: 100vh;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;

    @include responsive.lg {
        background-color: rgb(255, 255, 255);
    }

    @include responsive.md {
        background-color: rgb(241, 230, 226);
        max-width: 520px;
    }

    @include responsive.sm {
        background-color: rgb(222, 230, 244);
        max-width: 400px;
    }

    @include responsive.xsm {
        background-color: rgb(234, 243, 243);
    }
}